/* Importe arquivo 'reset.css'  */
@import url('./reset.css');

/* CSS Inicial */
body {
    background-color: black;
}

h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 34px;
}

p {
    color: white;
}

section {
    margin: 100px auto;
}

/* Banner */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6)), url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: transparent;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, 0.2);
    height: 260px;
    width: 260px;
    margin: auto;
    margin-bottom: 16px;
    border-radius: 50%;
}

.banner .logo img {
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.banner .banner-content button {
    font-size: 1rem;
    font-weight: bold;
    color: #31A8DD;
    padding: 16px 32px;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 30px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
}

/* CSS - Course */
#course-content{
    width: 800px;
    text-align: center;
}

#course-content .modules-list{
    margin: 24px 0;
}

#course-content .modules-list .module{
    margin: 0 auto 24px;
    padding: 16px;
    width: 530px;
    color: white;
    background-color: #252525;
    border-color: 1px solid #33A8DB;
    border-radius: 100px;
    box-shadow: inset --5px 6px 8px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span{
    color: #33A8DB;
}


/* Transforme Mundo */
#transform-world{
    height: 560px;    
    padding: 200px;
    background-size: cover;
    background-image: url('../images/woman-code.png');
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}


#transform-world p{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}
